In [220]:
import os
import re
import pandas as pd
import numpy as np

In [221]:
# Code to get the emails
def findemails(f, page, all_emails):
    for line in page:
        line = line.lower()
        if "obfuscate" in line:
            obf_line = list(re.findall('\'[a-zA-Z0-9._-]+\'', line))
            if (len(obf_line) > 0): 
                obf_line = list(reversed([re.sub('\'', '', l) for l in obf_line]))
                obf_email = '@'.join(obf_line)
                all_emails.append([f, "e", obf_email])
        new_line = re.sub('[^a-zA-Z]at[^a-zA-Z]', '@', line)
        new_line = re.sub('[^a-zA-Z]where[^a-zA-Z]', '@', new_line)
        new_line = re.sub('[^a-zA-Z]dom[^a-zA-Z]', '.', new_line)
        new_line = re.sub('[^a-zA-Z]dot[^a-zA-Z]', '.', new_line)
        new_line = re.sub('\(followed by (\"|&ldquo;)', '', new_line)
        new_line = re.sub('[\s]*@[\s]*', '@', new_line)
        new_line = re.sub('-', '', new_line)
        new_line = re.sub('&#x40;', '@', new_line)
        new_line = re.sub('server', ';', new_line)
        emails = re.findall('[a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+[\.; ][a-zA-Z0-9_;-]+',new_line)
        for e in list(set(emails)):
            if e.endswith("com") | e.endswith("edu"):
                e = re.sub(';', '.', e)
                all_emails.append([f, "e", e])

In [222]:
def findphones(f, page, all_phones):
    for line in page:
        phones = re.findall('[0-9]{3}[^0-9]{0,6}[0-9]{3}[^0-9\(,)]{0,6}[0-9]{4}', line) #'
        for p in list(set(phones)):
            p = "".join([s for s in re.split(r'[\D]',p) if s.isdigit()])
            p = p[0:3] + "-" + p[3:6] + "-" + p[6:]
            all_phones.append([f, "p", p])

In [223]:
# read in the files and process
dir= "dev/"
dev_emails = []
dev_phones = []
for filename in os.listdir(dir):
    with open(dir+filename, 'r') as html:
        html = html.read().split('\n')
        findemails(filename, html, dev_emails)
        findphones(filename, html, dev_phones)

In [224]:
found_emails = pd.DataFrame(dev_emails)
print(found_emails)

           0  1                              2
0    ashishg  e           ashishg@stanford.edu
1    ashishg  e              rozm@stanford.edu
2     balaji  e            balaji@stanford.edu
3   cheriton  e       cheriton@cs.stanford.edu
4   cheriton  e            uma@cs.stanford.edu
5       dabo  e           dabo@cs.stanford.edu
6       dlwh  e              dlwh@stanford.edu
7     engler  e            engler@stanford.edu
8     engler  e             engler@lcs.mit.edu
9     engler  e            engler@stanford.edu
10  eroberts  e       eroberts@cs.stanford.edu
11    fedkiw  e         fedkiw@cs.stanford.edu
12     hager  e               hager@cs.jhu.edu
13  hanrahan  e       hanrahan@cs.stanford.edu
14       jks  e      jks@robotics.stanford.edu
15  jurafsky  e          jurafsky@stanford.edu
16   kosecka  e             kosecka@cs.gmu.edu
17     kunle  e        kunle@ogun.stanford.edu
18     kunle  e       darlene@csl.stanford.edu
19       lam  e            lam@cs.stanford.edu
20   latombe  e        latombe@cs.stanford.edu
21   latombe  e        asandra@cs.stanford.edu
22   latombe  e        liliana@cs.stanford.edu
23     levoy  e      ada@graphics.stanford.edu
24     levoy  e  melissa@graphics.stanford.edu
25   manning  e        manning@cs.stanford.edu
26   manning  e        dbarros@cs.stanford.edu
27   manning  e        manning@cs.stanford.edu
28      nass  e              nass@stanford.edu
29      nass  e              nass@stanford.edu
30      nick  e  nick.parlante@cs.stanford.edu

In [225]:
found_phones = pd.DataFrame(dev_phones)
print(found_phones)

           0  1             2
0    ashishg  p  650-814-1478
1    ashishg  p  650-723-1614
2    ashishg  p  650-723-4173
3     bgirod  p  177-572-9915
4     bgirod  p  134-217-6593
5     bgirod  p  177-572-9915
6     bgirod  p  134-217-6593
7     bgirod  p  161-904-3898
8     bgirod  p  194-257-0626
9     bgirod  p  650-724-6354
10    bgirod  p  650-723-4539
11    bgirod  p  650-724-3648
12  cheriton  p  650-723-1131
13  cheriton  p  650-725-3726
14      dabo  p  650-725-3897
15      dabo  p  650-725-4671
16  eroberts  p  650-723-3642
17  eroberts  p  650-723-6092
18     hager  p  410-516-5521
19     hager  p  410-516-5553
20     hager  p  410-516-8000
21  hanrahan  p  650-723-8530
22  hanrahan  p  650-723-0033
23  horowitz  p  650-725-3707
24  horowitz  p  650-725-6949
25  jurafsky  p  650-723-5666
26   kosecka  p  703-993-1876
27   kosecka  p  703-993-1710
28     kunle  p  650-725-3713
29     kunle  p  650-725-6949
..       ... ..           ...
36   latombe  p  110-730-4683
37   latombe  p  082-689-1073
38   latombe  p  870-145-1791
39   latombe  p  101-812-1023
40   latombe  p  698-693-6769
41   latombe  p  689-676-9869
42   latombe  p  830-552-1902
43   latombe  p  794-676-9869
44   latombe  p  650-723-0350
45   latombe  p  650-725-1449
46   latombe  p  650-721-6625
47   latombe  p  650-723-4137
48     levoy  p  650-725-4089
49     levoy  p  650-723-0033
50     levoy  p  650-725-3724
51     levoy  p  650-724-6865
52   manning  p  650-723-7683
53   manning  p  650-725-1449
54   manning  p  650-725-3358
55   manning  p  157-586-0368
56   manning  p  289-289-2007
57      nass  p  650-723-5499
58      nass  p  650-725-2472
59      nass  p  157-586-0538
60      nass  p  111-099-5710
61      nass  p  104-337-5742
62      nass  p  026-214-0926
63      nass  p  111-618-2714
64      nass  p  103-311-4910
65      nick  p  650-725-4727

[66 rows x 3 columns]

In [226]:
test_contacts = pd.read_csv('devGOLD', sep="\t", header=None)
test_emails = test_contacts.loc[test_contacts[1]=="e"]

# are any missing?
df_all = test_emails.merge(found_emails, on=[0,1,2],how='outer', indicator=True)
print(df_all.loc[df_all["_merge"] != "both"])

Empty DataFrame
Columns: [0, 1, 2, _merge]
Index: []

In [227]:
#check the test phones
test_phones = test_contacts.loc[test_contacts[1]=="p"]

# are any missing?
df_all_phones = test_phones.merge(found_phones, on=[0,1,2],how='outer', indicator=True)
print(df_all_phones.loc[df_all_phones["_merge"] != "both"])

          0  1             2      _merge
42   bgirod  p  177-572-9915  right_only
43   bgirod  p  177-572-9915  right_only
44   bgirod  p  134-217-6593  right_only
45   bgirod  p  134-217-6593  right_only
46   bgirod  p  161-904-3898  right_only
47   bgirod  p  194-257-0626  right_only
48  latombe  p  870-145-1791  right_only
49  latombe  p  870-145-1791  right_only
50  latombe  p  161-061-1985  right_only
51  latombe  p  110-730-4683  right_only
52  latombe  p  082-689-1073  right_only
53  latombe  p  101-812-1023  right_only
54  latombe  p  698-693-6769  right_only
55  latombe  p  689-676-9869  right_only
56  latombe  p  830-552-1902  right_only
57  latombe  p  794-676-9869  right_only
58  manning  p  157-586-0368  right_only
59  manning  p  289-289-2007  right_only
60     nass  p  157-586-0538  right_only
61     nass  p  111-099-5710  right_only
62     nass  p  104-337-5742  right_only
63     nass  p  026-214-0926  right_only
64     nass  p  111-618-2714  right_only
65     nass  p  103-311-4910  right_only

So I've gotten a lot of potentially false positives on the phone numbers. I could be more strict and do perfect with this dev and test set, but I feel in the real world - some phone numbers would be missed. I would like to pose that for the purposes of scraping numbers, one might prefer to have more that aren't real numbers, than missing real numbers.

In [228]:
# read in the files and process
dir= "test/"
test_emails = []
test_phones = []
for filename in os.listdir(dir):
    with open(dir+filename, 'r') as html:
        html = html.read().split('\n')
        findemails(filename, html, test_emails)
        findphones(filename, html, test_phones)
pd.DataFrame(test_emails)

        0  1                         2
0  ouster  e    ouster@cs.stanford.edu
1  ouster  e  teresa.lynn@stanford.edu

I am missing one email from the test set. "pal at cs stanford edu". To fix this I might add a rule that looks for "@" (after my rule that "at" becomes "@") and "edu" or "com" in the same line and process from there.

In [229]:
pd.DataFrame(test_phones)

     0  1             2
0   ok  p  650-723-9753
1   ok  p  650-725-1449
2  pal  p  650-725-9046
3  pal  p  122-963-8381
4  pal  p  052-189-6061